<div class="grid-container">
  @for (produto of produtos; track produto){
  <div class="grid-item">
    <nz-card
      style="width: 300px"
      [nzCover]="coverTemplate"
      [nzActions]="[actionEdit, actionEllipsis]"
      [nzHoverable]="true"
    >
      <nz-card-meta
        nzTitle="{{produto.name}}"
        nzDescription="{{produto.description}}"
        ><p>R$ {{produto.value}}</p></nz-card-meta
      >
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
      />
    </ng-template>
    <ng-template #actionEdit>
        <app-modal title="Editar produto" tipo="editar" label="Editar Produto" [id]="produto.id" buttonStyle="text" buttonIcon="edit" [default]="produto"/>
    </ng-template>
    <ng-template #actionEllipsis>
        <app-popconfirm [id]="produto.id" />
      </ng-template>
  </div>
  }
</div>
