<button nz-button [nzType]="'primary'" (click)="showModal()">
  <span>{{titulo}}</span>
</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzCancelText="Cancelar"
  nzOkText="Salvar"
  nzTitle="{{titulo}}"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form #formulario="ngForm" (ngSubmit)="handleOk(formulario)">
      <nz-form-label [nzSpan]="null">Nome</nz-form-label>
      <nz-form-control [nzSpan]="null" nzErrorTip="Coloque o nome do produto">
        <input
          nz-input
          name="nome"
          ngModel
          #nome="ngModel"
          placeholder="Informe nome do produto.."
        />
      </nz-form-control>
      <nz-form-label [nzSpan]="null">Descrição</nz-form-label>
      <nz-form-control
        [nzSpan]="null"
        nzErrorTip="Coloque a descrição do produto"
      >
        <input
          nz-input
          name="descricao"
          ngModel
          #descricao="ngModel"
          placeholder="Informe a descrição do produto.."
        />
      </nz-form-control>
      <nz-form-label [nzSpan]="null">Valor</nz-form-label>
      <nz-form-control [nzSpan]="null" nzErrorTip="Coloque o valor do produto">
        <input
          nz-input
          name="valor"
          ngModel
          #valor="ngModel"
          placeholder="Informe o valor do produto.."
        />
      </nz-form-control>
      <div class="modal-footer">
        <button nz-button (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" type="submit">Salvar</button>
      </div>
    </form>
  </ng-container>
</nz-modal>
