 [nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
        max-width: 600px;
}

.ant-btn-primary{
   background-color: #FB758E!important;
   border-color: #FB758E !important;
   margin-left: 58px !important;
   margin-top: 20px !important;
}
